html {
    height: 100%;
}

body {
    min-height: 100%;
    background-color: $colour-dash-background;
}

#approot {
    display: flex;
    min-height: 100vh;
    flex-direction: row;
}

*::-moz-focus-inner {
    border: 0;
}
