.login-panel {
    padding: 30px;
    color: white;
    width: 40%;

    button, button:hover, button:active, button:visited {
        margin-top: 20px;
        margin-right: 0;
        display: block;
        margin-left: auto;
    }

    input {
        width: calc(100% - 30px);
    }

    @include mq($from: mobile, $until: tablet) {
        width: 100%;
    }
}
