@import "variables";
@import "utils/user-select";

@import "../../node_modules/normalize-scss/sass/normalize";
@import "../../node_modules/sass-mq/mq";
@include normalize();

@import "fonts";

html, body {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-weight: normal;
  font-size: 16px;

  @include mq($from: mobile, $until: tablet) {
    font-size: 14px;
  }
  @include mq($from: wide) {
    font-size: 16px;
  }
}

::-ms-input-placeholder {
  color: #969696;
}

::placeholder {
  color: #969696;
}

::-webkit-input-placeholder {
  color: #969696;
}

* {
  box-sizing: border-box;
}

/* ************************* 1 - QUARKS **************************** */
@import "1-quarks/heading";
@import "1-quarks/paragraph";
@import "1-quarks/input";
@import "1-quarks/fieldset";
@import "1-quarks/link";

/* ************************* 2 - ATOMS ***************************** */
@import "2-atoms/button";
@import "2-atoms/footer";
@import "2-atoms/placeholder";
@import "2-atoms/drag-handle";
@import "2-atoms/spinner";

/* ************************* 3 - MOLECULES ***************************** */
@import "3-molecules/data-table";
@import "3-molecules/status-bar";
@import "3-molecules/dash-card";
@import "3-molecules/user-menu";
@import "3-molecules/data-card";
@import "3-molecules/column-card";
@import "3-molecules/editing-pane";
@import "3-molecules/order-list";

/* ************************* 4 - ORGANISMS ***************************** */
@import "4-organisms/login-panel";

/* ************************* 5 - TEMPLATES ***************************** */
@import "5-templates/container";

/* ************************* 6 - PAGES ***************************** */
@import "6-pages/login";
