.page--login {
    background: $colour-dark-grey;
    flex: 1;
    display: flex;

    align-items: center;
    justify-content: center;

    @include mq($from: mobile, $until: tablet) {
        align-items: flex-start;
        justify-content: flex-start;
    }
}
