@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Huh?";
}

<section class="page--login">
    <div class="login-brand"></div>
    <div class="login-panel">
        <h1>Looks like you took a wrong turn</h1>
        <p>We couldn't find that page. Sorry about that.</p>
    </div>
</section>
