@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<section class="page--login">
    <div class="login-brand"></div>
    <div class="login-panel">
        <h1>@ViewData["Title"]</h1>
    </div>
</section>
