@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<section class="page--login">
    <div class="login-brand"></div>
    <form id="account" class="login-panel" method="POST">
        <fieldset class="aligned">
            <p>
                Enter your username below. You'll receive a password reset email to your company e-mail address.
            </p>
            <input asp-for="Input.Username" class="form-control" class="inset" novalidate type="text" placeholder="Username" />
            <span asp-validation-for="Input.Username" class="login-error__content"></span>
        </fieldset>
        <p asp-validation-summary="All" class="text-danger"></p>
        <button id="login_button" type="submit" class="classic-button secondary">Submit</button>
    </form>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
