@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

<section class="page--login">
    <div class="login-brand"></div>
    <div class="login-panel">
        <h1>Your account has been locked out</h1>
        <p>Please contact support for assistance.</p>
    </div>
</section>
