@page
@model LogoutModel
@{
    ViewData["Title"] = "Koasta";
}

<section class="page--login">
    <div class="login-brand"></div>
    <a id="log-in"asp-area="Identity" asp-page="/Account/Login">Sign into your Koasta account</a>
</section>
