@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<section class="page--login">
    <div class="login-brand"></div>
    <div class="login-panel">
        <p>Your password has been reset.</p>
        <a id="log-in"asp-area="Identity" asp-page="/Account/Login">Sign into your Koasta account</a>
    </div>
</section>
