@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}

<section class="page--login">
    <div class="login-brand"></div>
        <form id="account" class="login-panel" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Input.Code" type="hidden" />
            <fieldset class="aligned">
                <label asp-for="Input.Username"></label>
                <input class="form-control" asp-for="Input.Username" class="form-control" />
                <span asp-validation-for="Input.Username" class="text-danger"></span>
            </fieldset>
            <fieldset class="aligned">
                <label asp-for="Input.Password"></label>
                <input class="form-control" asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </fieldset>
            <fieldset class="aligned">
                <label asp-for="Input.ConfirmPassword"></label>
                <input class="form-control" asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </fieldset>
            <button type="submit" class="classic-button secondary">Submit</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
